common: &common
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: 
  password: 

development:
  <<: *common
  database: toolman_development

test:
  <<: *common
  database: toolman_test

production:
  <<: *common
  database: toolman_production
