%a.btn{onclick: "window.history.back();void(0);"}
  %i.icon-hand-left
  %span= t('helpers.links.back') 
%a.btn{onclick: "window.location.reload();void(0);"}
  %i.icon-refresh
  %span= t('helpers.links.refresh')
%a.btn{onclick: "window.history.forward();void(0);"}
  %i.icon-hand-right
  %span= t('helpers.links.forward')
